<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="com.cn.mybatis.test1.dao.userMapper"就是com.cn.mybatis.test1.dao(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.lcvc.ebuy_maven_ssm.dao.AdminDao">
    <!-- 根据账户名和密码，查询得到一个admin对象 -->
	<select id="login" resultType="Admin">
		select * from admin where username=#{username} and password=#{password}
	</select>


	<update id="updateAdmin">
		update admin
		<set>
			<if test="username!=null and username.length()>0">username=#{username},</if>
			<if test="password!=null and password.length()>0">password=#{password},</if>
			<if test="name!=null and name.length()>0">name=#{name},</if>
		</set>
		where id=#{id}
	</update>

	<select id="existsAdmin" resultType="int">
		select count(id) from admin where username=#{username} and id!=#{id}
	</select>

	<select id="existsUsername" resultType="int">
		select count(id) from admin where username=#{username}
	</select>

	<select id="getAdminList" resultType="Admin">
		select * from admin  order by id asc
	</select>

	<delete id="deleteAdmin">
		delete from admin where id=#{id}
	</delete>

	<insert id="saveAdmin">
		 insert into admin(id,username,name,password,createTime) values(null,#{username},#{name},#{password},#{createTime})
	</insert>

	<select id="getAdmin" resultType="Admin">
	select * from admin where id=#{id}
</select>

	<select id="getPartlist" resultType="Admin">
		select * from admin order by id asc limit #{offset},#{length}
	</select>


</mapper>