<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="com.cn.mybatis.test1.dao.userMapper"就是com.cn.mybatis.test1.dao(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.lcvc.ebuy_maven_ssm.dao.ProductDao">
<!-- 自定义返回类型-->
	<resultMap id="product" type="Product">
               <association property="productType" javaType="ProductType" column="ProductTypeId" select="com.lcvc.ebuy_maven_ssm.dao.ProductTypeDao.getProductType">
			   </association>
		      <association property="creator" javaType="Admin" column="creatorId" select="com.lcvc.ebuy_maven_ssm.dao.AdminDao.getAdmin">
			  </association>
	</resultMap>

	<select id="getProductList" resultMap="product" >
		select * from product order by orderNum asc,createTime desc
	</select>

	<insert id="SaveProduct">
		insert into
		product(id,productTypeId,name,orderNum,description,content,price,originalPrice,picUrl,number,click,onSale,createTime,creatorId,finalEditorId,updateTime)
		values(null,#{productTypeId},#{name},#{orderNum},#{description},#{content},#{price},#{originalPrice},#{picUrl},#{number},#{click},#{onSale},#{createTime},#{creatorId},#{finalEditorId},#{updateTime})
	</insert>

	<delete id="deleteProduct">
		delete from product where id=#{id}
	</delete>

	<select id="existsProduct" resultType="int">
		select count(id) from producttype where name=#{name} and id!=#{id}
	</select>

	<update id="updateProduct">
		update product
		<set>
			<if test="name!=null and name.length()>0">name=#{name},</if>
			<if test="picUrl!=null">picUrl=#{pickUrl},</if>
			<if test="productTypeId!=null">productTypeId=#{productTypeId},</if>
			<if test="orderNum!=null">orderNum=#{orderNum},</if>
			<if test="description!=null">description=#{description},</if>
			<if test="content!=null">content=#{content},</if>
			<if test="price!=null and price>0">price=#{price},</if>
			<if test="originalPrice!=null and originalPrice>0">originalPrice=#{originalPrice},</if>
			<if test="click!=null and click>0">click=#{click},</if>
			<if test="onSale!=null">onSale=#{onSale},</if>
			<if test="createTime!=null">createTime=#{createTime},</if>
			<if test="creatorId!=null">creatorId=#{creatorId},</if>
	    </set>
	where id=#{id}
	</update>

	<select id="getProduct" resultType="Product">
		select * from product where id=#{id}
	</select>

	<select id="total" resultType="int">
		select count(id) from Product
	</select>

	<select id="getPartlist" resultMap="product">
		select * from product order by id asc limit #{offset},#{length}
	</select>

	<select id="getNewTopProductList" resultType="Product">
		select * from product order by createTime desc limit 0,#{pageSize}
	</select>

	<select id="getHotProductList" resultType="Product">
		select * from product order by click asc limit 0,#{pageSize}
	</select>

	<select id="getTimeProductList" resultType="Product">
		select * from product order by productTypeId asc limit 0,#{pageSize}
	</select>

	<select id="getProductTypeShoplistList" resultType="Product">
		select * from product where productTypeId=#{productTypeId}
	</select>

</mapper>